@{
    ViewData["Title"] = "Home Page";
}


<div class="container py-5 mt-5">
    <div class="col d-flex flex-column align-items-center gap-5" style="margin-top: 30vh !important;">
        <a asp-action="Create" class="btn btn-neon row-cols-5">Create</a>
        <a asp-action="Online" class="btn btn-neon">Online</a>
    </div>
</div>
