
@{
    ViewData["Title"] = "Discussion";
    var isHost = ViewBag.IsHost;
    var roomId = ViewBag.roomId;
}

<div class="container py-5 text-center" style="margin-top:30vh;">
    <h3 class="text-white mb-4 text-center">Discussion</h3>
@if (isHost)
{
    <button onclick="Next()" class="btn btn-neon px-4 py-2 rounded-pill">
        Next
    </button>
}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/gameHub")
        .build();
    connection.start()
    .then(() => console.log("SignalR connected"))
    .catch(err => console.error(err.toString()));
    // Handle incoming messages

    
    connection.on("NextStage" , (page)=>{
        debugger;

        redirectPost(`/room/@roomId/${page}`, {});
        // navigate manually
    });



    function Next() {
        connection.invoke("NextStage","@roomId")
            .catch(err => console.error(err.toString()));
    }
    
</script>

